<html>
    <head>
        <meta charset="UTF-8">
        <title>게시판 프로젝트</title>
    </head>
    <body>
        {{{body}}} {{!-- 중괄호 3개로 감싸야 됨.
        다른 핸들바 템플릿의 코드가 그대로 들어가게 된다. --}}
    </body>
</html>